.statisticsBox {
    width: 450px;
    box-shadow: 0 0 10px -1px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}
.title {
    padding: 25px 0;
    color: grey;
    text-transform: uppercase;
}
.statsticsList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.statisticsItem {
    flex-basis: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-top: solid 1px rgba(220, 217, 217, 0.533);
    color: black;
    font-weight: 500;
}
.statisticsItem:not(:last-child) {
    border-right: solid 1px rgba(220, 217, 217, 0.533);
}
.itemPercent {
    margin-top: 5px;
    font-size: 20px;
}